@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* -------  HEADER  --------*/

header {
    margin: 0;
}

.logo {
    background: url("../images/monicarasquin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;

    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-color-name-title {
    background-color: #00BFFF;
    padding-left: 35px;
}

/* Name*/

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: white;

}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

/* Menu list */

@media (min-width: 576px) {
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 24.4%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        position: relative;
        width: 24% ;
        min-height: 1px;
    }
}

.menu-list {
    margin: 0;
    padding: 0;
}

.list-inline-item {
    margin: 0 !important;
    text-align: center;
    color: #000080;
}

.menuitem {
    height: 120px;
    padding: 0;
}

.menuitem a {
    color: #000080;
    height: 120px;
    text-decoration: none;
    width: 100%;
}
.menuitem a i{
    padding-top: 22px;
    display: block;
    font-size: 26px;
}
.menuitem a span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.ui-menu-color-home {
    background-color: #1E90FF;
}

.ui-menu-color-resume {
    background-color: #85ddfa;
}

/*---- hover color*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.ui-menu-color-contact {
    background-color: #00CED1;
}

.ui-menu-color-download {
    background-color: #87CEFA;
}
