@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* -------  HEADER  --------*/

header {
    margin: 0;
}

.logo {
    background: url("../images/monicarasquin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;

    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-color-name-title {
    background-color: #00BFFF;
    padding-left: 35px;
}

/* Name*/

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: white;

}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: white;
}

/* Menu list */

@media (min-width: 576px) {
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 24.4%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        position: relative;
        width: 24%;
        min-height: 1px;
    }
}

.menu-list {
    margin: 0;
    padding: 0;
}

.list-inline-item {
    margin: 0 !important;
    text-align: center;
    color: #000080;
}

.menuitem {
    height: 120px;
    padding: 0;
}

.menuitem a {
    color: #000080;
    height: 120px;
    text-decoration: none;
    width: 100%;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menuitem a span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*---------------------------------colors*/
.ui-menu-color-home {
    background-color: #1E90FF;
}

.ui-menu-color-resume {
    background-color: #85ddfa;
}

/*---- hover color*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.ui-menu-color-contact {
    background-color: #00CED1;
}

.ui-menu-color-download {
    background-color: #87CEFA;
}

.bg-color-three-reasons{
    background-color: #E0FFFF;
}

/*--------------------special margins, paddings, text....*/

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
    color: #fafafa;
}

.section-column{
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
}
.row-table {
    display: table;
}

.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*------------------------------------3 REASONS WHY*/

.three-reasons-icon{
    font-size: 26px;
    color: #000080;
}

.three-reasons-heading{
    margin-bottom: 15px;
  
}
/*------------------------------------FOOTER*/

footer {
    background-color: #000080;
    min-height: 120px;
    margin: 0;
    display: inline-block;
    text-align: center;
}

footer .cvpdf i {
    color: #fafafa;
    font-size: 18px;
    padding-left: 5px;
}

footer .cvpdf i:hover {
    color: #00FFFF;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links {
    padding-bottom: 15px;
    display: inline-block;
}

.social-links li a i {
    width: 32px;
    color: #000080;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    background-color: #eedba2;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    color: #00FFFF;
    background-color: #000080;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

#footer-details{
    margin: 20px;
}
